
*{
	font-family: Verdana, Arial, sans-serif;  /*police d'écriture principale + d'autres au cas où*/
}

header{
	text-align: center;
	border: 1px solid black;
	width: 95%;                   /* Largeur */
	margin-left: 5%;              /* Bordure extérieure gauche du bloc */
	max-width: 90%;               /* Largeur maximale du bloc */
	background-color: #FFFFDB;
}

footer {                                                          /* Zone en bas de la page */
	width: 50%;
	margin: auto;                 /* On peut donc demander à ce que le bloc soit centré avec auto */
	text-align: center;
	background-color: #DBFFFF;
	margin-bottom: 1%;              /* Bordure extérieure basse du bloc */
	position:absolute; bottom: 0; left: 25%;
}

article{
	border: 2px solid black;
	width: 75%;
	height: 120px;				  /* Hauteur*/
	overflow: auto;				  /*Pour que le texte ne dépasse pas des limites du paragraphe, on dit au navigateur qu'il peut mettre des barres de défilement*/
	margin-left: 3%;              /* Bordure extérieure gauche du bloc */
	margin-bottom: 2%;
	background-color: #FFDBFF;
}

#conteneur{
	display: flex;
	justify-content: space-around;
}

h1{ font-size: 30px; text-align: center; }

h2{ font-size: 20px; text-align: center; }

table{
	border-collapse: collapse; /* Les bordures du tableau seront collées entre elles */
	margin: auto;
	width : 50%;
	justify-content: space-around;
}

td, th{ border: 1px solid black; }


.instructions{

}


